body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    align-items: center;
    margin-bottom: 20px;
    color: #002765;
    display: flex;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2d59b2, #4b055c);
    padding: 10px;
  }

  #list {
    max-width: 500px;
    max-height: 500px;
    margin: 10px 20px;
    background-color: rgb(216, 252, 252);
  }

  #todo-container {
    width: 100%;
    max-width: 500px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
  
  #task-input {
    width: 65%;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    background-color: rgb(227, 228, 229);
    border-radius: 20px;
  }
  
  #add-button {
    display: inline-block;
    width: 20%;
    padding: 10px;
    font-size: 20px;
    background-color: #00e8f8;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
  }
  #task-list {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
  }
  
  
  ul li {
    list-style: none;
    font-size: 25px;
    display: flex;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }
  ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

  }
  ul li button{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
  }

 ul li.task-item{
    color:#555;
    text-decoration: line-through;

  }
  ul li.task-item::before{
   background-image: url(images/checked.png);
  }
  .task-item .task-title {
    flex-grow: 1;
  }


